Repository floxxih/savings-circle-net: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

Add Contributing guide
  CONTRIBUTING.md
Due: prettier --write

Add Code of Conduct
  CODE_OF_CONDUCT.md
Due: prettier --write

Add getting started guide
  docs/getting-started.md
Due: prettier --write

Add MIT License
  LICENSE
Due: none

feat: add contract integration layer with Stacks.js
  frontend/src/lib/contract-integration.ts
Due: eslint --fix, prettier --write

feat: add custom React hooks for contract interactions
  frontend/src/hooks/use-contract.ts
Due: eslint --fix, prettier --write

feat: add transaction monitoring utilities
  frontend/src/utils/transaction-monitor.ts
Due: eslint --fix, prettier --write

docs: add comprehensive frontend architecture guide
  docs/FRONTEND_ARCHITECTURE.md
Due: prettier --write

docs: update README with enhanced project structure
  README.md
Due: prettier --write

feat: add error handling utilities
  frontend/src/utils/error-handling.ts
Due: eslint --fix, prettier --write

docs: enhance security documentation
  docs/SECURITY.md
Due: prettier --write

feat: add utils barrel export
  frontend/src/utils/index.ts
Due: eslint --fix, prettier --write

Enhanced Frontend Architecture with Stacks.js Integration (#29)
  README.md
  docs/FRONTEND_ARCHITECTURE.md
  frontend/src/hooks/use-contract.ts
  frontend/src/lib/contract-integration.ts
  frontend/src/utils/transaction-monitor.ts
Due: eslint --fix, prettier --write

Update stacksusu-traits-v5.clar
  contracts/stacksusu-traits-v5.clar
Due: clarinet check

Create ThemeToggle.tsx
  frontend/src/components/ThemeToggle.tsx
Due: eslint --fix, prettier --write

Update stacksusu.test.ts
  tests/stacksusu.test.ts
Due: eslint --fix, prettier --write

Update stacksusu.test.ts (#33)
  tests/stacksusu.test.ts
Due: eslint --fix, prettier --write

Update stacksusu-reputation-v7.clar
  contracts/stacksusu-reputation-v7.clar
Due: clarinet check

Update contracts.ts
  frontend/src/constants/contracts.ts
Due: eslint --fix, prettier --write

Update contract-integration.ts
  frontend/src/lib/contract-integration.ts
Due: eslint --fix, prettier --write

Update notificationService.ts
  frontend/src/services/notificationService.ts
Due: eslint --fix, prettier --write

Create decayScheduler.ts
  frontend/src/services/decayScheduler.ts
Due: eslint --fix, prettier --write

chore: export audit service from barrel file
  frontend/src/services/index.ts
Due: eslint --fix, prettier --write

docs: define retention policy
  docs/AUDIT_LOGS.md
Due: prettier --write

docs: add purpose section to audit logs
  docs/AUDIT_LOGS.md
Due: prettier --write

feat: implement log method
  frontend/src/services/auditLogService.ts
Due: eslint --fix, prettier --write

feat: export singleton instance
  frontend/src/services/auditLogService.ts
Due: eslint --fix, prettier --write

feat: scaffold audit log service
  frontend/src/services/auditLogService.ts
Due: eslint --fix, prettier --write

feat: add getLogs accessor
  frontend/src/services/auditLogService.ts
Due: eslint --fix, prettier --write

feat: define AuditEntry interface
  frontend/src/services/auditLogService.ts
Due: eslint --fix, prettier --write

docs: add security constraints
  docs/AUDIT_LOGS.md
Due: prettier --write

feat: create AuditService class
  frontend/src/services/auditLogService.ts
Due: eslint --fix, prettier --write

docs: link audit docs in readme
  README.md
Due: prettier --write

docs: create audit logging documentation structure
  docs/AUDIT_LOGS.md
Due: prettier --write

refactor: add internal documentation
  frontend/src/services/auditLogService.ts
Due: eslint --fix, prettier --write

test: scaffold audit service tests
  frontend/src/utils/__tests__/audit.test.ts
Due: eslint --fix, prettier --write

test: add initial test case
  frontend/src/utils/__tests__/audit.test.ts
Due: eslint --fix, prettier --write

docs: init documentation for Discovery
  docs/FEATURE_52.md
Due: prettier --write

docs: define scope
  docs/FEATURE_52.md
Due: prettier --write
