Repository floxxih/savings-circle-net: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

Add email and push notification system v10
  notifications/notify-v10.ts
Due: eslint --fix, prettier --write

Add email and push notification system v7
  notifications/notify-v7.ts
Due: eslint --fix, prettier --write

Add email and push notification system v16
  notifications/notify-v16.ts
Due: eslint --fix, prettier --write

Add email and push notification system v19
  notifications/notify-v19.ts
Due: eslint --fix, prettier --write

Add email and push notification system v20
  notifications/notify-v20.ts
Due: eslint --fix, prettier --write

Add email and push notification system v15
  notifications/notify-v15.ts
Due: eslint --fix, prettier --write

Add email and push notification system v17
  notifications/notify-v17.ts
Due: eslint --fix, prettier --write

Add email and push notification system v14
  notifications/notify-v14.ts
Due: eslint --fix, prettier --write

Optimize smart contract gas costs v17
  contracts/gas-opt/gas-v17.clar
Due: clarinet check

Optimize smart contract gas costs v8
  contracts/gas-opt/gas-v8.clar
Due: clarinet check

Optimize smart contract gas costs v9
  contracts/gas-opt/gas-v9.clar
Due: clarinet check

Optimize smart contract gas costs v6
  contracts/gas-opt/gas-v6.clar
Due: clarinet check

Optimize smart contract gas costs v4
  contracts/gas-opt/gas-v4.clar
Due: clarinet check

Optimize smart contract gas costs v3
  contracts/gas-opt/gas-v3.clar
Due: clarinet check

Optimize smart contract gas costs v12
  contracts/gas-opt/gas-v12.clar
Due: clarinet check

Optimize smart contract gas costs v10
  contracts/gas-opt/gas-v10.clar
Due: clarinet check

Optimize smart contract gas costs v11
  contracts/gas-opt/gas-v11.clar
Due: clarinet check

Optimize smart contract gas costs v16
  contracts/gas-opt/gas-v16.clar
Due: clarinet check

Optimize smart contract gas costs v1
  contracts/gas-opt/gas-v1.clar
Due: clarinet check

Optimize smart contract gas costs v7
  contracts/gas-opt/gas-v7.clar
Due: clarinet check

Optimize smart contract gas costs v13
  contracts/gas-opt/gas-v13.clar
Due: clarinet check

Optimize smart contract gas costs v20
  contracts/gas-opt/gas-v20.clar
Due: clarinet check

Optimize smart contract gas costs v15
  contracts/gas-opt/gas-v15.clar
Due: clarinet check

Optimize smart contract gas costs v2
  contracts/gas-opt/gas-v2.clar
Due: clarinet check

Optimize smart contract gas costs v14
  contracts/gas-opt/gas-v14.clar
Due: clarinet check

Optimize smart contract gas costs v18
  contracts/gas-opt/gas-v18.clar
Due: clarinet check

Optimize smart contract gas costs v5
  contracts/gas-opt/gas-v5.clar
Due: clarinet check

Optimize smart contract gas costs v19
  contracts/gas-opt/gas-v19.clar
Due: clarinet check

Create comprehensive onboarding tutorial v3
  onboarding/tutorial-v3.md
Due: prettier --write

Create comprehensive onboarding tutorial v11
  onboarding/tutorial-v11.md
Due: prettier --write

Create comprehensive onboarding tutorial v13
  onboarding/tutorial-v13.md
Due: prettier --write

Create comprehensive onboarding tutorial v15
  onboarding/tutorial-v15.md
Due: prettier --write

Create comprehensive onboarding tutorial v5
  onboarding/tutorial-v5.md
Due: prettier --write

Create comprehensive onboarding tutorial v8
  onboarding/tutorial-v8.md
Due: prettier --write

Create comprehensive onboarding tutorial v12
  onboarding/tutorial-v12.md
Due: prettier --write

Create comprehensive onboarding tutorial v10
  onboarding/tutorial-v10.md
Due: prettier --write

Create comprehensive onboarding tutorial v6
  onboarding/tutorial-v6.md
Due: prettier --write

Create comprehensive onboarding tutorial v14
  onboarding/tutorial-v14.md
Due: prettier --write

Create comprehensive onboarding tutorial v19
  onboarding/tutorial-v19.md
Due: prettier --write

Create comprehensive onboarding tutorial v18
  onboarding/tutorial-v18.md
Due: prettier --write
